<p-panel header="Employee Management System">
    <h3>Name</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" [(ngModel)]="name" size="30" pInputText required >
    <label for="float-input">Name</label>
</span>
<h3>Company Name</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" [(ngModel)]="companyName" size="30" pInputText required> 
    <label for="float-input">Company Name</label>
</span>
<h3>Email Id</h3>
<span class="ui-float-label">
    <input id="float-input" type="email" [(ngModel)]="emailId" size="30" pInputText required> 
    <label for="float-input">Email Id</label>
</span>
<h3>Contact No</h3>
<span class="ui-float-label">
    <input id="float-input" type="number" size="30" [(ngModel)]="contactNo" pInputText required> 
    <label for="float-input">Contact No</label>
</span>
<h3 class="first">Designation</h3>
<span class="ui-float-label">
    <input id="float-input" type="text" size="30" [(ngModel)]="designation" pInputText required> 
    <label for="float-input">Designation</label>
</span>
<p-footer>
    <button pButton type="button" label="Save" icon="pi pi-check" style="margin-right: .25em" (click)="saveEmployee()"></button>
    <button pButton type="button" label="Cancel" icon="pi pi-times" class="ui-button-secondary" (click)="cancelEmployee()"></button>
</p-footer>
  </p-panel>
  